<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body {% if section %} class="{{ section }}"{% endif %}>

		<header>
				<a href="{{ '/' | url }}"><figure class="logo-image">
				   <img src="/static/img/logo.svg" alt="Câble Cadre" />
				  </figure></a>
			{% include "components/nav.njk" %}
		</header>

		<main>
			<div class="content">
			{{ layoutContent | safe }}
			</div>

		</main>

		{% include "components/footer.njk" %}

	</body>

</html>
