---
layout: layouts/base.njk
section: home
---


{{ layoutContent | safe }}

<section class="section--list-articles">

<a href="/blog/index.html"><h2>Les Articles</h2></a>

{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}
</section>

<section class="section--list-howtos">
<a href="/howtopage/index.html"><h2>Les How tos</h2></a>
{% set howtolist = collections.howto %}
{% include "components/howtolist.njk" %}
</section>

<section class="section--list-check">
<a href="/checkpage/index.html"><h2>Check this out</h2></a>
{% set checklist = collections.check %}
{% include "components/checklist.njk" %}
</section>

<section class="section--list-agenda">
<h2>Agenda</h2>
{% set agendalist = collections.agenda %}
{% include "components/agendalist.njk" %}
</section>
