---
layout: layouts/base.njk
section: howtopage
permalink: /howtopage/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set howtolist = collections.howto %}
{% include "components/howtolist.njk" %}
